#logo{
        }

body{
        background-color: #ebeff5;
}


#Intensity{
        background-color: #4cb4c7;
}


#Likelihood{
        background-color: #4cb4c7;
}

#Relevance{
        background-color: #4cb4c7;
}

#Year{
        background-color: #4cb4c7;
}

#Country{
        background-color: #4cb4c7;
}

#Topics{
        background-color: #4cb4c7;
}

#Region{
        background-color: #4cb4c7;
}

#City{
        background-color: #4cb4c7;
}

