<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-black mb-2" id="Intensity">
               <div class="card-header">
                  <h5 class="card-title">Intensity</h5>
               </div>
               <div class="card-body">
                  <h3 class="card-title">{{Intensity}}</h3>
               </div>
            </div>
        </div>
    </div>

     <div class="col">
        <div class="col-md">
            <div class="card text-center text-black mb-2" id="Likelihood">
               <div class="card-header">
                   <h5 class="card-title">Likelihood</h5>
               </div>
               <div class="card-body">
                  <h3 class="card-title">{{Likelihood}}</h3>
               </div>
            </div>
        </div>
    </div>

     <div class="col">
        <div class="col-md">
            <div class="card text-center text-black mb-2" id="Relevance">
               <div class="card-header">
                  <h5 class="card-title">Relevance</h5>
               </div>
               <div class="card-body">
                  <h3 class="card-title">{{Relevance}}</h3>
               </div>
            </div>
        </div>
    </div>

     <div class="col">
        <div class="col-md">
            <div class="card text-center text-black mb-2" id="Year">
               <div class="card-header">
                  <h5 class="card-title">Year</h5>
               </div>
               <div class="card-body">
                  <h3 class="card-title">{{Year}}</h3>
               </div>
            </div>
        </div>
    </div>

     <div class="col">
        <div class="col-md">
            <div class="card text-center text-black mb-2" id="Country">
               <div class="card-header">
                  <h5 class="card-title">Country</h5>
               </div>
               <div class="card-body">
                  <h3 class="card-title">{{Country}}</h3>
               </div>
            </div>
        </div>
    </div>

     <div class="col">
        <div class="col-md">
            <div class="card text-center text-black mb-2" id="Topics">
               <div class="card-header">
                  <h5 class="card-title">Topics</h5>
               </div>
               <div class="card-body">
                  <h3 class="card-title">{{Topics}}</h3>
               </div>
            </div>
        </div>
    </div>

     <div class="col">
        <div class="col-md">
            <div class="card text-center text-black mb-2" id="Region">
               <div class="card-header">
                  <h5 class="card-title">Region</h5>
               </div>
               <div class="card-body">
                  <h3 class="card-title">{{Region}}</h3>
               </div>
            </div>
        </div>
     </div>

      <div class="col">
        <div class="col-md">
            <div class="card text-center text-black mb-2" id="City ">
               <div class="card-header">
                  <h5 class="card-title">City</h5>
               </div>
               <div class="card-body">
                  <h3 class="card-title">{{City}}</h3>
               </div>
            </div>
        </div>
    </div>
</div>